@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

.montserrat-uniquifier{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
} 


/* le debut du code dans la patie principale */

.principale {
    height: auto;
    padding: 10px;
}

.header-contenu {
    /* background-color: rgb(56, 161, 96); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.425)), url(image/fond/principale-img.jpg);
    position: relative;
    padding: 30px 4%;
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    border-radius: 20px;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.nav-logo img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    transition: all 0.3s;
}

.nav-links .les-liens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.nav-links .les-liens li a {
    font-size: 22px;
    font-weight: bold;
    color: white;
    position: relative;
}

.nav-links .les-liens li a::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 0%;
    background-color: white;
    left: 0;
    bottom: -5px;
    transition: 0.3s width;
}

.nav-links .les-liens li a:hover::before {
    width: 100%;
}

.nav-links .subcribs {
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    background-color: green;
    transition: 0.6s background;
}

.nav-links .subcribs:hover {
    background-color: black;
    color: white;
}

.link-media {
    display: none;
}

/* la patie de la navigation menu*/
.menu-navigation{
  display: none;
}

/* la partie du texte pricipale de ma page */
.text-principale-information{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.sous-prince{
  width: 550px;
  max-width: 100%;
}

.title-header{
  font-size: 65px;
  color: white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: relative;
  margin-bottom: 20px;
}

.sous-prince p{
  font-size: 16px;
  color: white;
}

::placeholder{
  color: black;
}

/* la partie des elements des formulaire */
.section-contenu-contact{
  padding: 50px 3%;
}

.form-newslater{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.partieformulaire{
  width: 600px;
  max-width: 100%;
}

.sousform{
  display: flex;
  gap: 10px;
}

.partieformulaire input{
  width: 100%;
  padding: 15px 20px;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  outline:  2px solid #33333377;
  border: none;
  color: black;
  font-size: 16px;
  margin-bottom: 15px;
}

#textearea{
  height: 150px;
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  outline: none;
  resize: none;
  font-size: 16px;
  border: 2px solid #33333377;
 font-family: "Poppins", sans-serif;
  font-style: normal;
  overflow:  hidden;
}

.btnformulaire{
  padding: 15px 25px;
  border-radius: 20px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  cursor: pointer;
  color:  white;
  font-size: 16px;
  font-weight: 500;
  background-color: black;
}

.partienewslater{
 background-color: rgba(56, 161, 96, 0.555);
 border-radius: 20px;
 padding: 30px;
 flex-wrap: wrap;
 max-width: 500px;
}

.partienewslater h2{
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

.partienewslater p{
  margin-bottom: 20px;
}


.partienewslater input{
 padding: 12px 20px;
 width: 100%;
 margin-bottom: 10px;
 border-radius: 20px;
 font-family: "Poppins", sans-serif;
 font-style: normal;
 outline: none;
 border: none;
 font-size: 15px;
 font-weight: 500;
}

.new{
  /* concerne l'aniimation de mes elemeent btn et input */
}

.btn-newslater{
  padding: 12px 20px;
  width: 100%;
 border-radius: 20px;
 border: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  cursor: pointer;
  color:  white;
  font-size: 16px;
  font-weight: 500;
  background-color: green;
  transition: 0.4s ease-in-out;
}

.btn-newslater:hover{
  transform: scale(1.02);
}

/* les boites qui contiennent les infos des contacts */
.information-contact{
    display: flex;
    padding: 50px 0;  
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.box-infor{
  padding: 25px;
  width: 355px;
  height: 180px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(107, 107, 107, 0.15);
}

.box-infor div{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.box-infor div h3{
  font-size: 20px;
}

.box-infor div i{
 font-size: 30px;
 color: green;
}

.box-infor p{
  font-size: 16px;
}

/* la partie de la carte de ma position */

.contenaire-ifraiem{
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-ifraime{
  width: 1120px;
  max-width: 100%;
  height: 300px; 
  border-radius: 20px;
  overflow: hidden;
}

iframe{
  width: 100%;
  height: 100%;
}


/* la partie du footer de la page */
.pied-page{
     background-color: rgba(0, 128, 0, 0.555);
     border-radius: 20px 20px 0 0;
     padding: 30px 5%;
     position: relative;
}

.footer-sous{
    display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-between;
     gap: 30px;
     padding: 10px;
}

.blache-ffoter{
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: #3333;
    color: black;
}

.footer-element img{
   max-width: 110px;
   max-height: 110px;
   border-radius: 50%;
}

.footer-liens{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer-liens li a{
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.abonne{
 padding: 12px 20px;
 background-color: white;
 color: black;
 border-radius: 10px;
 transition: 0.3s ;
}

.abonne:hover{
 background-color: black;
 color: white;
}

.footer-social-media{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer-social-media li a i{
  font-size: 30px;
  color: white;
  transition: 0.3s;
}

.footer-social-media li a i:nth-child(1):hover{
    color: blue ;
}





























@media (max-width: 750px) {

    .principale {
        padding: 5px;
    }

    body.active {
        overflow: hidden;
    }

    .header-contenu {
        background: linear-gradient(rgba(0, 0, 0, 0.363), rgba(0, 0, 0, 0.322)), url(image/fond/principale-img.jpg);
        background-position: top;
        background-size: cover;
        padding: 30px 4%;
        min-height: 60vh;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .nav-logo img {
        width: 55px;
        height: 55px;
    }

    .nav-link-contanaire.active {
        background: rgba(0, 0, 0, 0.486);
        width: 100%;
        min-height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 200;
        transition: display 0.5s;
    }

    .nav-links {
        background: linear-gradient(rgba(94, 114, 85, 0.781), rgba(88, 87, 87, 0.596)), url(image/fond/fondu\ \(2\).jpeg);
        justify-content: center;
        flex-direction: column;
        background-position: center;
        background-size: cover;
        gap: 40px;
        visibility: visible;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        width: 70%;
        min-height: 100vh;
        transition: transform 0.5s;
        transform: translateX(400px);
        padding-left: 10px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    .nav-links.active {
        transform: translateX(0);
    }


    .nav-links .les-liens {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 0;
    }

    .nav-links .les-liens li a {
        font-size: 20px;
        font-weight: bold;
        color: white;
        position: relative;
    }


    .nav-links .subcribs {
        padding: 10px 12px;
        border-radius: 10px;
        font-weight: bold;
        font-size: 18px;
        color: white;
        background-color: green;
        transition: 0.6s background;
    }

    .nav-links .subcribs:hover {
        background-color: black;
        color: white;
} 

/* la partie des mes formulaires de contacte */

.form-newslater{
  gap: 30px;
  flex-direction: column-reverse;
}

.box-infor{
  padding: 45px 30px 25px 30px;
  width: 100%;
  height: 180px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(107, 107, 107, 0.15);
}




}