@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

html,body{
  scroll-behavior: smooth;
}

/* la partie du detail de l'image */

.contenair{
    height: auto;
    padding: 80px 5%;
    position: relative;
}

.direct-contenaire{
    height: auto;
    min-height: 100vh;
    gap: 20px;
    position: relative;
  }

.block-icone-return{
  position: absolute;
  left: 40px;
  z-index: 100;
  top: 30px;
}

.block-icone-return div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px dashed #3333;
    margin-bottom: 20px;
}

.block-icone-return .fa-solid{
    font-size: 20px;
    color: black;
    animation: slider 3s linear infinite;
}

@keyframes slider {
  0%{
       transform: translateX(5px);
  }
  50%{
    
   transform: translateX(-5px);
  }
  100%{
    transform: translateX(5px);
  }
}

.details-produit{
    display: flex;
    gap: 40px;
    width: 100%;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

/* la partie de l'image */
.detail-image{
   display: flex;
   align-items: start;
   justify-content: center;
   border-radius: 20px;
   width: 600px;
   height: 570px;
}

 .main-image{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    height: 100%;
 }

 .imagePricipale{
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    height: 100%;
 }


 /* la partie de droite qui contient les infos*/
.detail-tout{
  width: 530px;
}

.detail-tout h1{
   font-size: 40px;
   margin-bottom: 15px;
   font-weight: 500;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.detail-tout h3{
   font-size: 25px;
   margin-bottom: 20px;
   font-weight: 500;
   color: #333333b4;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.detail-tout p{
  margin-bottom: 20px;
}
/* la partie en blue-ciel pour les ingredients */

.detail-block-naturel-icone{
  border-radius: 20px;
  background-color: rgba(81, 163, 113, 0.116); 
  padding: 20px 20px;
  max-width: 100%;
  margin-bottom: 20px;
}


.sous-parent{
   display: flex;
   align-items: center;
   gap: 30px;
}

.sous-parent li{
 display: flex;
 align-items: center;
 gap: 15px;
}

.sous-parent li p{
   font-size: 15px;
}

.sous-parent li i{
   font-size: 18px;
   color: green;
}

/* la patie des livraison et instreuctions */

.delibero-produit{
   padding-inline: 20px;
   max-width: 100%;
}

.delibero-produit{
  position: relative;
  margin-bottom: 20px;
}

.delibero-produit ul li{
  position: relative;
  margin-bottom: 10px;
}

.delibero-produit ul li::before{
  content: "\f058"; /* utilisateur */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-right: 8px;
  color: green;
}



/* la partie des buttons  add et contact */

.add-contact{
  padding: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.btn2{
  padding: 12px 20px;
  background-color: rgba(55, 218, 55, 0.973);
  color: white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  max-width: 400px;
  width: 200px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn2:hover{
  background-color: black;
  color: white;
}

.btn3{
  padding: 15px;
  background-color: rgba(55, 218, 55, 0.973);
  color: black;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.btn3 i{
  color: white;
  font-size: 18px;
}

.add-contact button a{
    color: white;
}

/* la partie des liens pour le partage  */
.shar-links-social-media{
  background-color: rgba(81, 163, 113, 0.116); 
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.shar-links-social-media h4{
 color: #333333ce;
}

.links-parent{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 25px;
  padding-left: 30px;
}

.links-parent .tag-liens{
  line-height: 0;
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.links-parent li a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
  line-height: 0;
}

.links-parent li a i{
 font-size: 20px;
 color:  #333;
 font-weight: 500;
}

.facebook:hover{
  background-color: rgba(0, 0, 255, 0.774);
}

.facebook:hover a i{
   color:  white;
}

.instagram:hover{
  background-color: violet;
}

.instagram:hover a i{
  color: white;
}

.whatsapp:hover{
  background-color: #27a027; ;
}

.whatsapp:hover a i{
  color: white;
}

.tiktok:hover{
  background-color: black;
}

.tiktok:hover a  i{
  color: white;
}

/* la partie de la description des elements */

.description-section{
  padding: 50px 0;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.box-element{
    background-color: rgba(81, 163, 113, 0.116); 
    width: 1100px;
    max-width: 100%;
    flex-direction: column;
    padding: 20px 30px;
    display: flex;
    border-radius: 20px;
}

.title-icone-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-icone-header li h2{
   color: #333;
   font-size: 20px;
}

.icone{
  background-color: white;
  border-radius: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border: none;
  cursor: pointer;
}

.fa-arrow-down{
  font-size: 20px;
  transition: transform 0.3s;
}

.fa-arrow-down.active{
  transform: rotate(-150deg);
}


.paragraphe{
  display: none;
  margin-top: 30px;
  opacity: 0.3;
  transition: display 0.4s ease-in-out,
   opacity 0.4s ease-in-out;
}

.paragraphe.active{
  display: block;
  opacity: 1;
}

.groy-box h3{
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
}

.groy-box p{
  font-size: 16px;
}

.descrip-contenu1{
  margin-bottom: 20px;
}

.descrip-contenu2{
   list-style: none;
   /* c'est du bleuf */
}

/*dedier infos*/

.liste-infos-sous{
   margin-bottom: 10px;
   align-items: center;
   display: flex;
}

.title{
   width: 220px;
   padding: 12px 10px;
   height: 100%;
}

.title h3{
  font-size: 18px;
  font-weight: 600;
}

.infosp p{
  font-size: 16px;
}


.liste-infos-sous:nth-child(1){
    background-color: rgba(81, 163, 112, 0.281); 
}

.liste-infos-sous:nth-child(3){
   background-color: rgba(81, 163, 112, 0.295); 
}

.liste-infos-sous{
   margin-bottom: 10px;  
}

/* les images similaires avec le produit */
.image-similaire{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-image-similaire{
  margin-bottom: 80px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.title-image-similaire h2 {
    font-weight: bold;
    color: black;
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    position: relative;
}

.title-image-similaire h2::before{
   content: "";
   position: absolute;
   height: 100px;
   width: 300px;
   background-image: url(../logo/ligne.png);
   background-size: cover;
   background-position: center;
   bottom: -60px;
   left: 0;
}

.title-image-similaire h2 span{
    font-weight: bold;
    color:  green;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.block-img{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.boite{
    height: 350px;
    width: 350px;
    position: relative;
    border-radius: 15px;
    margin-bottom: 40px;
}


.groy-categorie {
    height: 100%;
    width: 100%;
}

.groy-categorie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.infos-produits{
    position: absolute;
    width: 250px;
    padding: 5px;
    border-radius: 20px;
    background-color:  rgb(250, 255, 250);
    bottom: -30px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: -4px 5px 10px #6b6b6b52;
    gap: 3px;
}

.infos-produits h2{
   font-size: 18px;
   font-weight: bold;
   color: black;
}

.infos-produits p{
   font-weight: 500;
   color: #333;
}


/* la partie du footer de la page */
.pied-page{
     padding: 30px 0 0 0;
     position: relative;
}

.top-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  flex-wrap: wrap;
  border-bottom: 2px solid #3333;
  padding-inline: 5%;
}

.left-block-footer{
  padding-top: 5px;

}

.left-block-footer a{
    display: flex;
    align-items: center;
}

.left-block-footer a img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  padding-left: 5px;
  border-radius: 50%;
}

.right-block-footer{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.icone-footer-infos {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}

.icone-footer-infos li{
   height: 40px;
   width: 40px;
   border-radius: 10px;
   background-color: #228B22;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   transition: background 0.3s ease-in-out, 
   color 0.3s ease-in-out;
}

.icone-footer-infos li:hover{
  background-color: black;
  color: white;
}

.icone-footer-infos li a{
  font-size: 20px;
   color: white;
}


#form{
  width: 390px;
  border-radius: 10px;
  padding: px;
}

#form input{
 width: 60%;
 padding: 10px 15px;
 outline: none;
 border: 1px solid #3333;
font-family: "Poppins", sans-serif;
font-style: normal;
border-radius: 10px;
}

.subcribs-footer{
  padding: 10px 15px;
  border: none;
  background-color: #228B22;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
  font-weight: 500;
}

/*  */
.bottom-block{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  position: relative;
  padding: 20px 30px 0 30px;
}

.commun-footer{
  width: 450px;
  padding: 40px;
  height: 128px;
  border-radius: 20px 20px 0px 0;
  background-color: rgba(0, 128, 0, 0.13);
  position: relative;
}

.bottom-title-empl{
  background-color: #228B22;
  width: 250px;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  left: -20px;
  border-radius: 10px;
}

.bottom-title-const{
  background-color: #228B22;
  width: 220px;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  left: -20px;
  border-radius: 10px;
}

.ftr h4{
 color: white;
 font-weight: 400;
 font-size: 18px;
}

.empl-texte-footer{
  margin-top: 80px;
  line-height: 25px;
}

.empl-texte-footer p{
font-size: 14px;
font-weight: 500;
}

.const-texte-footer{
  margin-top: 80px;
  padding-left: 10px;
  line-height: 25px;
}

.const-texte-footer li{
  font-size: 14px;
  font-weight: 500;
}





/*  */

@media  (max-width: 750px) {
  
.block-icone-return{
  position: absolute;
  left: 10px;
  z-index: 100;
  top: 20px;
}

@keyframes slider {
  0%{
       transform: translateX(2px);
  }
  50%{
    
   transform: translateX(-4px);
  }
  100%{
    transform: translateX(2px);
  }
}

/*  */
.contenair{
    height: auto;
    padding: 80px 3%;
    position: relative;
}

.details-produit{
    display: flex;
    gap: 40px;
    width: 100%;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

/* la partie de l'image */

  .detail-image{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   padding: 10px;
   border-radius: 20px;
   border: 1px dashed #3333;
   width: 100%;
   height: 370px;
}

 .main-image{
    width: 360px;
    height: 360px;
 }


/* la partie de la description des elements */

.description-section{
  padding: 50px 3%;
  margin-bottom: 50px;
  gap: 20px;
}

.box-element{
 background-color: rgba(81, 163, 113, 0.116); 
  max-width: 90%;
  flex-direction: column;
  padding: 20px 30px;
  display: flex;
  border-radius: 20px;
}

.title-icone-header li h2{
   font-size: 16px;
}

.groy-box h3{
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
}

.groy-box p{
  font-size: 14px;
}

.title h3{
  font-size: 16px;
  font-weight: 400;
}

.infosp p{
  font-size: 14px;
}



.icone{
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.fa-arrow-down{
  font-size: 16px;
  transition: transform 0.3s;
}


/* la partie des buttons  add et contact */
.add-contact{
  padding: 0;
  display: flex;
  gap: 8px;
  margin-bottom: 25px;
}

.effect:hover{
 background-color: black;
 color: white;
}

.btn1{
  padding: 10px 15px;
  font-size: 15px;
}

.btn3{
  padding: 10px 15px;
  background-color: rgba(55, 218, 55, 0.973);
  color: black;
  border-radius: 10px;
  font-size: 15px;
}

/* la partie des images similaires */

.image-similaire{

}

.title-image-similaire{
  position: relative;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  width: unset;
  justify-content: center;
}


.title-image-similaire h2 {
    font-weight: bold;
    color: black;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    position: relative;
}

.title-image-similaire h2::before{
   content: "";
   position: absolute;
   height: 100px;
   width: 300px;
   background-image: url(../logo/ligne.png);
   background-size: cover;
   background-position: center;
   bottom: -60px;
   left: 0;
}

.block-img{
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.boite{
    height: 180px;
    width: 190px;
    position: relative;
    border-radius: 15px;
}

.groy-categorie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.infos-produits{
    position: absolute;
    width: 140px;
    padding: 5px;
    border-radius: 10px;
    background-color:  rgb(250, 255, 250);
    bottom: -30px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: -4px 5px 10px #6b6b6b52;

}

.infos-produits h2{
   font-size: 16px;
}

.infos-produits p{
  font-size: 16px;
}


/* la partie du footer de la page */
.pied-page{
     padding: 30px 0 0 0;
     position: relative;
}

.top-block{
  padding-bottom: 20px;
  border-bottom: 2px solid #3333;
  padding-inline: 2%;
  gap: 20px;
}

.left-block-footer a{
display: flex;
align-items: center;
}

.left-block-footer a img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.right-block-footer{
  gap: 20px;
}

.icone-footer-infos li{
   line-height: 0;
}

.icone-footer-infos {
   gap: 10px;
}

.icone-footer-infos li a{
  font-size: 16px;
}

#form{
  width: 100%;
  padding: 5px 0px;
}

#form input{
 width: 63%;
 border-radius: 10px;
 margin-right: 10px;
}

.subcribs-footer{
  padding: 10px 12px;
  font-size: 15px;
  border: none;
  background-color: #228B22;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
  font-weight: 500;
}

/* la partie du bas qui contient les deux boites */
.bottom-block{
  gap: 30px;
  padding: 20px 3% 0 3%;
}

.commun-footer{
  text-align: center;
}

.bottom-left{
 border-radius: 20px;
}

.bottom-title-empl{
  margin-left: 42px;
  left: unset;
  border-radius: 10px;
}

.bottom-title-const{
  margin-left: 50px;
  left: unset;
  border-radius: 10px;
}

}




@media  (max-width: 390px) {
  /* image principale*/
  .detail-image{
   display: flex;
   align-items: center;
   gap: 20px;
   flex-direction: column;
   justify-content: center;
   padding: 10px 10px;
   border-radius: 20px;
   border: 1px dashed #3333;
   width: 100%;
}
 .main-image{
    width: 350px;
    height: 350px;
 }
}

@media  (max-width: 375px) {
    /* image principale*/
  .detail-image{
   display: flex;
   align-items: center;
   gap: 20px;
   flex-direction: column;
   justify-content: center;
   padding: 10px 10px;
   border-radius: 20px;
   border: 1px dashed #3333;
   width: 100%;
}
 .main-image{
    width: 340px;
    height: 340px;
 }
 
 .letter-image{
   border-radius: 20px;
   width: 90px;
   height: 90px;
   object-fit: cover;
 }
 

/* la partie de la description des elements */

.description-section{
  padding: 50px 3%;
  margin-bottom: 50px;
  gap: 20px;
}

.box-element{
 background-color: rgba(81, 163, 113, 0.116); 
  max-width: 90%;
  flex-direction: column;
  padding: 20px 30px;
  display: flex;
  border-radius: 20px;
}

.title-icone-header li h2{
   font-size: 16px;
}

.groy-box h3{
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
}

.groy-box p{
  font-size: 14px;
}

.title h3{
  font-size: 16px;
  font-weight: 600;
}

.infosp p{
  font-size: 14px;
}
}


/*  */
@media  (max-width: 360px) {
  
  /* image principale*/
.details-produit{
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

  .detail-image{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   padding: 10px;
   border-radius: 20px;
   border: 1px dashed #3333;
   width: 100%;
   height: 340px;
}
 .main-image{
    width: 320px;
    height: 320px;
 }
 

/* la partie en blue-ciel pour les ingredients */

.detail-block-naturel-icone{
  border-radius: 20px;
  background-color: rgba(81, 163, 113, 0.116); 
  padding: 20px 20px;
  max-width: 100%;
  margin-bottom: 20px;
}


.sous-parent{
   display: flex;
   align-items: center;
   gap: 30px;
}

.sous-parent li{
 gap: 15px;
}

.sous-parent li p{
   font-size: 14px;
}

.sous-parent li i{
   font-size: 18px;
   color: green;
}

/* la partie des liens pour le partage  */
.shar-links-social-media{
  padding: 20px 10px;
}


/* la partie de la description des elements */

.description-section{
  padding: 50px 3%;
  margin-bottom: 50px;
  gap: 20px;
}

.box-element{
 background-color: rgba(81, 163, 113, 0.116); 
  max-width: 88%;
  flex-direction: column;
  padding: 20px 30px;
  display: flex;
  border-radius: 20px;
}

.title-icone-header li h2{
   font-size: 16px;
}

.groy-box h3{
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}

.groy-box p{
  font-size: 14px;
}

.title h3{
  font-size: 16px;
  font-weight: 500;
}

.infosp p{
  font-size: 14px;
}

.icone{
  background-color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.fa-arrow-down{
  font-size: 16px;
  transition: transform 0.3s;
}


/* la patie des livraison et instreuctions */

.delibero-produit{
   padding-inline: 10px;
   max-width: 100%;
}

.delibero-produit{
  margin-bottom: 30px;
}

.delibero-produit ul li{
  font-size: 15px;
  margin-bottom: 10px;
}


/* la partie des buttons  add et contact */
.add-contact{
  padding: 0;
  display: flex;
  gap: 8px;
  margin-bottom: 25px;
}

.effect:hover{
 background-color: black;
 color: white;
}

.btn1{
  padding: 10px 10px;
  font-size: 12px;
}


.btn3{
  padding: 10px 12px;
  background-color: rgba(55, 218, 55, 0.973);
  color: black;
  border-radius: 10px;
  font-size: 12px;
}

/* les images similaires avec le produit */
.image-similaire{
  text-align: center;
}

.title-image-similaire{
  position: relative;
  margin-bottom: 70px;
  display: flex;
  align-items: center;
  width: 100%;
  width: unset;
  justify-content: center;
}

.title-image-similaire h2 {
    font-size: 30px;
}

.texte-commentaire h2::before {
   content: "";
   position: absolute;
   height: 80px;
   width: 150px;
   background-image: url(logo/ligne.png);
   background-size: cover;
   background-position: center;
   bottom: -60px;
   left: 0;
}

.block-img{
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.boite{
    height: 165px;
    width: 165px;
    position: relative;
    border-radius: 15px;
}

.groy-categorie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.infos-produits{
    position: absolute;
    width: 130px;
    padding: 5px;
    border-radius: 10px;
    background-color:  rgb(250, 255, 250);
    bottom: -30px;
    left: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: -4px 5px 10px #6b6b6b52;

}

.infos-produits h2{
   font-size: 15px;
}

.infos-produits p{
  font-size: 15px;
}


/* la partie du footer de la page */
.pied-page{
     padding: 5px 0 0 0;
     position: relative;
}

.top-block{
  padding-bottom: 20px;
  border-bottom: 2px solid #3333;
  gap: 20px;
}

.left-block-footer a{
display: flex;
align-items: center;
}

.left-block-footer a img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}


.icone-footer-infos li{
   line-height: 0;
}

.icone-footer-infos {
   gap: 10px;
}

.icone-footer-infos li a{
  font-size: 18px;
}

#form{
  width: 100%;
  padding: 0px;
}

#form input{
 width: 60%;
 border-radius: 10px;
 margin-right: 5px;
}

.subcribs-footer{
  padding: 12px 12px;
  font-size: 14px;
  border: none;
  background-color: #228B22;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
  font-weight: 500;
}

/* la partie du bas qui contient les deux boites */
.bottom-block{
  gap: 20px;
  padding:  30px 3% 0 3%;
}

.commun-footer{
  text-align: center;
  padding: 40px 20px 0 20px;
}

.bottom-left{
 border-radius: 20px;
}

.bottom-title-empl{
  margin-left: 55px;
  left: unset;
  width: 200px;
  border-radius: 10px;
}

.empl-texte-footer{
  margin-top: 60px;
  line-height: 25px;
}

.bottom-title-const{
  margin-left: 55px;
  width: 200px;
  left: unset;
  border-radius: 10px;
}

.const-texte-footer{
  margin-top: 60px;
  padding-left: 10px;
  line-height: 25px;
}

 
}

